.divAlerta {
    margin-top: 25px;
    width: 60%;
}

.alertaCorrecto {
    color: var(--blanco);
    background-color: var(--verde);
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.alertaError {
    color: var(--blanco);
    background-color: var(--rojo);
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}