@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');

:root {
    /* Colores */
    --negro : #070707;
    --negro-claro : #1b1a1a;
    --gris-oscuro: #131111;
    --gris: #1f1d1d;
    --transparente-gris-claro: rgba(180, 161, 161, 0.165);
    --transparente-gris: rgba(19, 17, 17, 0.5);
    --blanco: #e4dada;
    --dorado: #D4AF37;
    --dorado-opaco: #a39156;
    --verde: #327525;
    --verde-claro: #2a8f16;
    --rojo: #9e0e0e;
    --rojo-claro: #c41313;
    --celeste: #2f419b;
    --celeste-claro: #1864ab;

    --scroll-behavior: smooth;
    /* Fuentes */
    --letra-chica: 400;
    --letra-grande: 700;
}
html {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 108px;
    background-color: var(--gris);
}
*, *:before, *:after {
    box-sizing: inherit;
}
a { text-decoration: none; }
/* Para que los input type number no tengan flechas */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Para que los input type number no tengan flechas en mozilla*/
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}
.contenedor {
    width: 85%;
    margin: auto;
    display: flex;
    padding-top: 20px;
}
h1 {
    color: var(--blanco);
    font-weight: var(--letra-chica);
}
h4 {
    color: var(--dorado-opaco);
    font-weight: var(--letra-chica);
    font-size: 35px;
    text-align: center;
}
.alinear-medio { 
    align-items: center;
    justify-content: center; 
}
.alinear-derecha { 
    align-items: center; 
    justify-content: flex-end;
}
.alinear-izquierda { 
    align-items: flex-start; 
    justify-content: flex-start;
}
.alinear-costados { 
    align-items: center; 
    justify-content: space-between;
}
.column { flex-direction: column; }
.gp-10 { gap: 10px; }
.gp-15 { gap: 15px; }
.block { display: block; }
.mt-5 { margin-top: 5px;}
.w-95 { width: 95%; }
.w-70 { width: 70%; }
.border {
    border: 1px solid var(--blanco);
    border-radius: 10px;
}
.modal--activo {
    opacity: 1;
    visibility: visible;
}
#enviar.desactivado {
    cursor: not-allowed;
    background-color: transparent;
    border: 1px solid var(--verde-claro);
}
#enviarTurno.desactivado {
    cursor: not-allowed;
    background-color: transparent;
    border: 1px solid var(--verde-claro);
}
div button.reservado {
    background-color: var(--verde);
    border: 1px solid var(--verde);
}

#cancelarTurno.desactivado {
    cursor: not-allowed;
    background-color: transparent;
}
.loader {
    display: none;
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}
.loader.visible {
    display: block;
}
circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}
@keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
}
@keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
}
   